.containerSerach{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .SearchBar{
    background-color: #3F51B5;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    height: 40px;
    width: 80%;

} */

.SearchBar {
    border: 1px solid #0e0e0e; 
    background-color: #3F51B5;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 9px;
  }
  
  .searchButton {
    border: 1px solid #0e0e0e;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    background-color: #7700ff79;
    color: #fff;
    cursor: pointer;
    margin-top: 9px;
  }

  .SearchBar:hover{
    background-color: #dadada;
    
  }

  .SearchBar:focus{
    outline:none!important ;
  }